<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Add local packages. -->
        <add key="local-logging-package" value="..\Microservice.Logging\bin\Release" />
        <add key="local-monitoring-package" value="..\Microservice.Monitoring\bin\Release" />
    </packageSources>
</configuration>